body {
    min-height: 100vh;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    margin: 0;
    padding: 0;
    font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

ul {
    list-style: square;
}

li {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

a.link_text, a.link_text_light {
    font-weight: 500;
    transition: color 0.1s ease-out;
}

a.link_text, a.link_text:link, a.link_text:visited {
    color: #7A3E76;
}

a.link_text_light, a.link_text_light:link, a.link_text_light:visited {
    color: #FFFFFF;
}

a.link_text:hover {
    color: #C185BD;
}

a.link_text_light:hover {
    color: #eedced;
}

a.link_area {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}

.content {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.section {
    margin-top: 1em;
    margin-bottom: 2em;
}

/*
FCFAFA
414361
2A2D43
5398BE
3E7FA3
A1867F
CFA0CC (small robots book)
*/

.colour {
    background-color: #C185BD;
    color: #FFFFFF;
}

.title_banner {
    /* display: flex;
    flex-direction: row; */
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.title_banner h1 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-size: 3rem;
}

.title_banner h2 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 300;
    font-size: 1.75rem;
}

.banner_image_container {
    margin-left: 1.5rem;
}

.banner_image {
    max-height: 7rem;
    height: 100%;
    width: auto;
}

.nav_container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

nav ul {
    list-style-type: none;
    font-size: 1.2rem;
    margin-left: -1.5rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0;
    font-weight: 300;
}

nav a {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    text-decoration: none;
}

.page_footer {
    margin-top: 1em;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.robots_row {
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    white-space: nowrap;
    scroll-snap-type: x mandatory;
    margin-left: -1rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

ul.robots_row {
    list-style-type: none;
    padding: 0;
}

.robots_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: -1rem;
    margin-right: 0rem;
    margin-top: 0rem;
    margin-bottom: 0rem;
}

ul.robots_grid {
    list-style-type: none;
    padding: 0;
}

.robot_container {
    scroll-snap-align: center;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

.robot_container img {
    width: 128px;
    height: 128px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
}

.robot_container img:hover {
    transform: scale(1.05);
}

@media (prefers-reduced-motion) {
    .robot_container img:hover {
        transform: none;
    }
}

.robot_container h3 {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    font-weight: 400;
    font-size: 1.2rem;
}

.robot_container .robot_number {
    color: #b98eb7;
    font-size: 1rem;
}
